/*Errores*/

.has-error {
  border-bottom: 2px solid #ff0000 !important;
}

.has-warning {
  border-bottom: 2px solid #ffc107 !important;
}

.ng-touched.ng-invalid:not(form) {
  border-bottom: 2px solid #ff0000;
}

input.ng-touched.ng-invalid:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ng-touched.ng-invalid:not(form) .ui-calendar .ui-inputtext {
  border-bottom: 2px solid #ff0000;
}

.input-group-text {
  border: 1px solid #ddd !important;
}

.input-group-append .input-group-text i {
  color: #21485b;
}

/*Ag grid*/
.ag-header-cell-text {
  color: #666666 !important;
}

.ag-theme-balham .ag-row-selected {
  background-color: #e4e5e6 !important;
  border-bottom-color: #d6d6d6 !important;
}

.cell-header-center {
  justify-content: center !important;
}

.cell-editing {
  background-color: #fff !important;
}

.cell-block {
  background-color: #d6d6d626 !important;
}

.cell-with-errors {
  border-bottom: 2px solid #ff0000 !important;
}

.ag-footer-pinned {
  border-top: 1px solid #bdc3c7 !important;
  background-color: #f5f7f7 !important;
}

.grande {
  width: 700px !important;
}

.chico {
  width: 100% !important;
}

p-chips .ui-state-disabled {
  opacity: 1 !important;
}
