<div class="ard card-block login-card">
  <div class="form-group">
    <div class="card p-4">
      <div class="card-body">
        <div class="text-center">
          <img src="assets/images/user.png" alt="Image" width="100" class="img-rounded">
        </div>
        <p class="text-muted"></p>
        <form (ngSubmit)="ingresar(formLogin)" #formLogin="ngForm">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-user"></i>
              </span>
            </div>
            <input type="text" [(ngModel)]="usuario.usuario" name="username" #username="ngModel" placeholder="Usuario"
              class="form-control" required>
            <div class="invalid-feedback"> {{constantes.TAG_CAMPO_REQUERIDO}} </div>
          </div>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-unlock-alt"></i>
              </span>
            </div>
            <input type="password" [(ngModel)]="usuario.contrasena" name="password" placeholder="Contraseña"
              class="form-control" required>
            <div class="invalid-feedback"> {{constantes.TAG_CAMPO_REQUERIDO}} </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-success px-4" [disabled]="cargando">
                {{constantes.TAG_INICIAR_SESION}}
                <i *ngIf="cargando" class="fa fa-spinner fa-spin"></i>
              </button>
            </div>
            <div class="col-12 text-center">
              <a href="https://obinte.zendesk.com/hc/es/requests/new" target="_blank">
                <button type="button" class="btn btn-link px-0">{{constantes.TAG_OLVIDASTE_CLAVE}}</button>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>